CLOUDIF_ACCESS_ALLOWED=<configure>
CLOUDIF_ACCESS_DB=<configure>
CLOUDIF_ACCESS_HOST=<configure>
CLOUDIF_ACCESS_LOGDIR=<configure>
CLOUDIF_ACCESS_PORT=<configure>
CLOUDIF_ACCESS_SALT=<configure>
CLOUDIF_ACCESS_TOKEN=<required-secret>
