CLOUDIF_DEPLOY_EVENT_SOURCE=<configure>
CLOUDIF_INTEGRATION_TIMEOUT=<configure>
FORGEJO_AUTO_CREATE_TOKEN=<required-secret>
FORGEJO_AUTO_INIT=<configure>
FORGEJO_OWNER=<configure>
FORGEJO_PRIVATE=<required-secret>
FORGEJO_REPO_PREFIX=<configure>
FORGEJO_SERVICE_ADMIN=<configure>
FORGEJO_SERVICE_EMAIL=<configure>
FORGEJO_SERVICE_USER=<configure>
FORGEJO_TOKEN=<required-secret>
FORGEJO_URL=<configure>
FORJA_AGENT_HOST=<configure>
FORJA_AGENT_PORT=<configure>
FORJA_AGENT_PRIVATE_URL=<required-secret>
FORJA_AGENT_TOKEN=<required-secret>
FORJA_ALLOWED_CLIENT=<configure>
KOMODO_AGENT_URL=<configure>
KOMODO_API_BASE=<configure>
KOMODO_ENV=<configure>
KOMODO_TOKEN=<required-secret>
KOMODO_URL=<configure>
KOMODO_WEBHOOK_URL=<configure>
