CLOUDIF_MACHINE_AGENT_CA=<configure>
CLOUDIF_MACHINE_AGENT_CERT=<configure>
CLOUDIF_MACHINE_AGENT_KEY=<configure>
CLOUDIF_MACHINE_CONTROLLER_URL=<configure>
CLOUDIF_MACHINE_ID=<configure>
CLOUDIF_MACHINE_POLICY_KEY_ID=<configure>
CLOUDIF_MACHINE_POLICY_PUBLIC_KEY=<configure>
