CLIENT_ID=<FRP_PANEL_CLIENT_ID>
CLIENT_SECRET=<FRP_PANEL_CLIENT_SECRET>
CLIENT_API_URL=http://10.62.91.3:18360
CLIENT_RPC_URL=grpc://10.62.91.3:18361
CLIENT_TLS_INSECURE_SKIP_VERIFY=true
CLIENT_FEATURES_ENABLE_FUNCTIONS=false
CLIENT_FEATURES_ENABLE_REMOTE_SHELL=false
