# Only TCP/443 is public. Internal target ports are never DNATed to the Internet.
CLOUDIF_REMOTE_GATEWAY_ENABLED=true
CLOUDIF_REMOTE_GATEWAY_HOST=cloudiff.duckdns.org
CLOUDIF_REMOTE_GATEWAY_PORT=443
CLOUDIF_REMOTE_GATEWAY_TOKEN=<RANDOM_SHARED_GATEWAY_TOKEN>
CLOUDIF_REMOTE_GATEWAY_ALLOWED_IPS=10.62.91.3
CLOUDIF_REMOTE_DEFAULT_TTL=1800
CLOUDIF_REMOTE_MAX_TTL=7200
