[Unit]
Description=CloudIF preview cleanup schedule
[Timer]
OnBootSec=1min
OnUnitActiveSec=5min
Persistent=true
Unit=cloudif-preview-cleanup.service
[Install]
WantedBy=timers.target
