[Unit]
Description=CloudIF Portal Refresh Cache

[Service]
Type=oneshot
EnvironmentFile=/etc/cloudif/portal.env
ExecStart=/usr/bin/python3 /usr/local/sbin/cloudif-portal-refresh-cache.py
