[Unit]
Description=CloudIFF FRP-Panel client
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
EnvironmentFile=/etc/cloudif/frp-panel-client.env
ExecStart=/usr/local/bin/cloudif-frp-panel client
Restart=on-failure
RestartSec=3
NoNewPrivileges=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=strict
RestrictSUIDSGID=true
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
