CLOUDIF_ARTIFACT_EXECUTOR_TOKEN=<required-secret>
CLOUDIF_ARTIFACT_EXECUTOR_URL=http://10.62.91.2:18216
CLOUDIF_BUILD_ATTESTATION_KEY=<configure>
CLOUDIF_BUILD_DB=<configure>
CLOUDIF_BUILD_HOST=<configure>
CLOUDIF_BUILD_PORT=<configure>
CLOUDIF_BUILD_TOKEN=<required-secret>
CLOUDIF_BUILD_WORKER_TOKEN=<required-secret>
CLOUDIF_RUNTIME_URL=<configure>
CLOUDIF_WORKSPACE_TOKEN=<required-secret>
CLOUDIF_WORKSPACE_URL=<configure>
