BROKER_LISTEN=<configure>
BROKER_PORT=<configure>
ENSURE_SCRIPT=<configure>
OIDC_CLIENT_ID=<configure>
OIDC_CLIENT_SECRET=<required-secret>
OIDC_ISSUER=<configure>
OIDC_REDIRECT_URI=<configure>
PUBLIC_BASE=<configure>
