CLOUDIF_AUTHZ_URL=<configure>
CLOUDIF_BASE=<configure>
CLOUDIF_DOMAIN=<configure>
CLOUDIF_ENSURE_SCRIPT=<configure>
CLOUDIF_GUARD_HEALTH_RETRIES=<configure>
CLOUDIF_GUARD_HEALTH_RETRY_SLEEP=<configure>
CLOUDIF_GUARD_HEALTH_TIMEOUT=<configure>
CLOUDIF_GUARD_HOST=<configure>
CLOUDIF_GUARD_PORT=<configure>
CLOUDIF_GUARD_READY_GRACE=<configure>
CLOUDIF_GUARD_RESTORE_COOLDOWN=<configure>
CLOUDIF_GUARD_STABILIZE_SECONDS=<configure>
CLOUDIF_GUARD_SUSPECT_SECONDS=<configure>
CLOUDIF_GUARD_WARMUP_SECONDS=<configure>
CLOUDIF_GUARD_WARMUP_TTL=<configure>
CLOUDIF_HEALTH_CACHE_TTL=<configure>
CLOUDIF_STATUS_DIR=<configure>
