CLOUDIF_ACCESS_INGEST_DB=<configure>
CLOUDIF_AGENT_ADMIN_TOKEN=<required-secret>
CLOUDIF_AGENT_URL=<configure>
CLOUDIF_APPROVAL_TOKEN=<required-secret>
CLOUDIF_APPROVAL_URL=<configure>
CLOUDIF_AUDIT_TOKEN=<required-secret>
CLOUDIF_AUDIT_URL=<configure>
CLOUDIF_CONTROL_TOKEN=<required-secret>
CLOUDIF_CONTROL_URL=<configure>
CLOUDIF_DASH_HOST=<configure>
CLOUDIF_DASH_PORT=<configure>
CLOUDIF_EVAL_TOKEN=<required-secret>
CLOUDIF_EVAL_URL=<configure>
CLOUDIF_MONITOR_TOKEN=<required-secret>
CLOUDIF_MONITOR_URL=<configure>
CLOUDIF_NOTIFY_TOKEN=<required-secret>
CLOUDIF_NOTIFY_URL=<configure>
