CLOUDIF_DEPLOYMENT_BROKER_HOST=<configure>
CLOUDIF_DEPLOYMENT_BROKER_PORT=<configure>
CLOUDIF_DEPLOYMENT_BROKER_TOKEN=<required-secret>
CLOUDIF_DEPLOYMENT_IDEMPOTENCY_DB=<configure>
CLOUDIF_PRODUCTION_HOMOLOGATION_TOKEN=<required-secret>
CLOUDIF_PRODUCTION_HOMOLOGATION_URL=<configure>
