CLOUDIF_MACHINE_DB_APP=<configure>
CLOUDIF_MACHINE_DB_BACKEND=<configure>
CLOUDIF_MACHINE_DB_HOST=<configure>
CLOUDIF_MACHINE_DB_NAME=<configure>
CLOUDIF_MACHINE_DB_PASSWORD=<required-secret>
CLOUDIF_MACHINE_DB_PORT=<configure>
CLOUDIF_MACHINE_DB_USER=<configure>
PYTHONPATH=<configure>
