CLOUDIF_MONITOR_TOKEN=<required-secret>
CLOUDIF_MONITOR_URL=<configure>
CLOUDIF_NOTIFY_DB=<configure>
CLOUDIF_NOTIFY_HOST=<configure>
CLOUDIF_NOTIFY_PORT=<configure>
CLOUDIF_NOTIFY_TOKEN=<required-secret>
