CLOUDIF_ACCESS_INGEST_ALLOWED=<configure>
CLOUDIF_ACCESS_INGEST_DB=<configure>
CLOUDIF_ACCESS_INGEST_TOKEN=<required-secret>
CLOUDIF_AD_AGENT_URL=<configure>
CLOUDIF_APPROVAL_TOKEN=<required-secret>
CLOUDIF_APPROVAL_URL=<configure>
CLOUDIF_BASE=<configure>
CLOUDIF_CSRF_SECRET=<required-secret>
CLOUDIF_MONITOR_TOKEN=<required-secret>
CLOUDIF_MONITOR_URL=<configure>
CLOUDIF_NODES=<configure>
CLOUDIF_ONBOARDING_API_TOKEN=<required-secret>
CLOUDIF_ONBOARDING_URL=<configure>
CLOUDIF_PORTAL_BASE_PATH=<configure>
CLOUDIF_PORTAL_DB=<configure>
CLOUDIF_PORTAL_HOST=<configure>
CLOUDIF_PORTAL_PORT=<configure>
CLOUDIF_PUBLIC_HOST=<configure>
