AUTHENTIK_API_TOKEN=<required-secret>
AUTHENTIK_API_URL=<configure>
CLOUDIF_ALLOWED_GROUPS=<configure>
CLOUDIF_ENSURE_SCRIPT=<configure>
CLOUDIF_LAUNCH_HOST=<configure>
CLOUDIF_LAUNCH_PORT=<configure>
CLOUDIF_LAUNCH_TOKEN=<required-secret>
CLOUDIF_PUBLIC_HOST=<configure>
CLOUDIF_PUBLIC_PREFIX=<configure>
CLOUDIF_REQUIRE_GROUP_AUTH=<configure>
