CLOUDIF_APPROVAL_DB=<configure>
CLOUDIF_APPROVAL_TOKEN=<required-secret>
CLOUDIF_APPROVAL_URL=<configure>
CLOUDIF_IDEMPOTENCY_DB=<configure>
CLOUDIF_TRANSACTION_RECONCILE_REPORT=<configure>
CLOUDIF_TRANSACTION_STALE_SECONDS=<configure>
