CLOUDIF_FORJA_AGENT_TOKEN=<required-secret>
CLOUDIF_FORJA_AGENT_URL=<configure>
CLOUDIF_WORKSPACE_HOST=<configure>
CLOUDIF_WORKSPACE_IMAGE=<configure>
CLOUDIF_WORKSPACE_PORT=<configure>
CLOUDIF_WORKSPACE_ROOT=<configure>
CLOUDIF_WORKSPACE_TOKEN=<required-secret>
